@use 'variables' as v;
@use 'mixins' as m;

.about {
  @include m.header-font;
  min-height: 100vh;
  background-color: v.$secondary-background-color;
  .about__header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
    height: 20rem;
    .about__header-text {
      color: white;
      margin: 0;
      padding: 0 2rem;
      font-weight: 600;
    }
  }
  .about__description {
    color: white;
    padding: 2rem;
    line-height: 1.5;
    text-align: left;
    .about__description-text {
      @include m.body-font;
    }
  }
}

@media screen and (min-width: 672px) {
  .about {
    .about__header {
      height: 30rem;
      padding: 0 3rem;
      .about__header-text {
        font-size: 3rem;
        margin: 5rem 0 0 0;
      }
    }
    .about__description {
      padding: 3rem;
      font-size: 1.1rem;
      line-height: 2;
    }
  }
}

@media screen and (min-width: 1050px) {
  .about {
    .about__header {
      height: 40rem;
      padding: 0 3rem;
      .about__header-text {
        font-size: 4rem;
        margin: 5rem 0 0 0;
      }
    }
    .about__description {
      padding: 3rem;
      font-size: 1.2rem;
      line-height: 2;
    }
  }
}