@use 'variables' as v;
@use 'mixins' as m;

.checkout {
  min-height: 100vh;
  padding: .5rem 2.5rem;
  font: v.$primary-font;
  background-color: v.$primary-background-color;
  .checkout__header {
    text-align: center;
  }
  .checkout__summary {
    h3 {
      margin-top: 0;
    }
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 1rem;
    background-color: v.$ternary-background-color;
  }
  .checkout__pricing {
    @include m.space-between;
    font-weight: bold;
    margin-top: auto;
    align-self: flex-end;
    p {
      margin: 0;
    }
    width: 70%;
    margin-left: auto;
    border-bottom: solid black 2px;
  }
  .checkout__item {
    @include m.space-between;
    margin-top: 8px;
    margin-bottom: 16px;
    p {
      margin: 0;
    }
  }

  @media screen and (min-width: 600px) {
    .checkout__header {
      @include m.space-between;
    }
    .checkout__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .checkout__summary, .checkout__form {
      margin: 0;
      width: 45%;
    }
  }
}