@use 'variables' as v;

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

// * {
//   border: solid red;
// }

.checkout {
  min-height: 100vh;
  padding: 0 1em;
  font: v.$primary-font;
  background-color: v.$primary-background-color;
  .checkout-header {
    text-align: center;
  }
  .request-summary {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 1em;
    background-color: v.$ternary-background-color;
  }
  .pricing {
    @include space-between;
    margin-top: auto;
    align-self: flex-end;
    p {
      margin: 0;
    }
    width: 70%;
    margin-left: auto;
    border-bottom: solid black 2px;
  }
  .request-item {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 16px;
    p {
      margin: 0;
    }
  }
  .request-form {
    display: flex;
    flex-direction: column;
    height: 400px;
    input, textarea {
      margin: .6em 0;
    }
  }
  .request-comments {
    height: 120px;
    max-width: 100%;
  }
  .request-submit {
    margin-top: auto;
    padding: 8px 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background-color: v.$secondary-accent-color;
    color: v.$ternary-background-color;
    font: v.$secondary-font;
  }
  .request-submit:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    .checkout-header {
      display: flex;
      justify-content: space-between;
    }
    .checkout-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .request-summary, .request-form {
      margin: 0;
      width: 45%;
    }
  }
}