@use 'variables' as v;
@use 'mixins' as M;

.product-description-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 1.1rem;

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: v.$secondary-font;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: v.$ternary-font;
  }
}

@media (min-width: 600px) {
  .product-description-text {
    width: 55%;
  }
}