@use 'variables' as v;
@use 'mixins' as m;

.footer {
  height: 15vh;
  background-color: v.$secondary-text-color;
  @include m.vertically-aligned-flex;
  justify-content: center;

  .footer__logo {
   width: 100px 
  }

  .footer__text {
    font-size: 10px;
    font-family: v.$ternary-font;
    color: v.$primary-text-color;
    margin: 0;
  }

  .footer__instagram {
    margin-top: 1rem;
    height: 24px;
    width: 24px;
  }
}