@use 'variables' as v;

.checkout__form {
  height: 550px;
  background-color: inherit;
  font: v.$ternary-font;
  display: flex;
  flex-direction: column;
  h2, h3 {
    font-family: v.$secondary-font;
  }
  input, textarea {
    margin: .6em 0;
  }
  .checkout__form__fielderror {
    color: red;
  }
  .checkout__form__comments {
    min-height: 20%;
    max-width: 100%;
    min-width: 100%;
  }
  .checkout__form__submit {
    margin-top: 2rem;
    padding: 8px 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background-color: v.$secondary-accent-color;
    color: v.$ternary-background-color;
    font: v.$secondary-font;
    &:hover {
    cursor: pointer;
    }
  }

  @media screen and (min-width: 600px) {
    .checkout__form__submit {
      margin-top: auto;
    }
  }
}