@use 'variables' as v;
@use 'mixins' as m;

.checkout__form {
  height: fit-content;
  min-height: 400px;
  background-color: inherit;
  @include m.body-font;
  display: flex;
  flex-direction: column;
  h2, h3 {
    @include m.header-font;
  }
  input, textarea {
    margin: .6em 0;
  }
  .checkout__form__fielderror {
    color: red;
  }
  .checkout__form__comments {
    min-height: 60px;
    max-width: 100%;
    min-width: 100%;
  }
  .checkout__form__submit {
    margin-top: 2rem;
    padding: 8px 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background-color: v.$secondary-accent-color;
    color: v.$ternary-background-color;
    @include m.body-font;
    &:hover {
    cursor: pointer;
    }
  }

  @media screen and (min-width: 600px) {
    .checkout__form__submit {
      margin-top: auto;
    }
  }
}