@use 'variables' as v;

.landing {
  background-image: url('../images/landing-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% center;
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .landing__header {
    height: 25rem;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    h1 {
      font-family: v.$primary-font;
      font-size: 2.5rem;
      color: white;
      font-weight: 600;
    }
    .landing__button {
      opacity: 0.8;
      padding: 0;
      width: 8rem;
      height: 3rem;
      background-color: v.$secondary-background-color;
      border: none;
      border-radius: 0.5rem;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem 2rem;
      cursor: pointer;
      &:hover {
        background-color: v.$secondary-accent-color;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .landing {
    background-size: cover;
    .landing__header {
      padding: 0 3rem;
      align-self: flex-start;
      h1 {
        font-size: 3rem;
      }
      .landing__button {
        font-size: 1.2rem;
      }
    }
  }
}