@use 'variables' as v;

// LAYOUT

@mixin horizontally-aligned-flex {
  display: flex;
  align-items: center;
}

@mixin vertically-aligned-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin true-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// FONTS

@mixin header-font {
  font-family: v.$font;
  font-weight: 700;
  letter-spacing: 0.5px;
}

@mixin body-font {
  font-family: v.$font;
  font-weight: 400;
  letter-spacing: 0.5px;
}

// ELEMENTS

@mixin button-style {
  background-color: v.$secondary-accent-color;
  color: v.$primary-text-color;
  padding: 1rem;
  border: none;
  border-radius: 30px;
}

@mixin box-border {
  border: solid 1px v.$secondary-text-color;
}