@use "variables" as v;
@use "mixins" as m;

.nav {
  border-bottom: 2px solid black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  background-color: #0D2538;
  width: 100px;
  position: fixed;
  padding: 3.5rem;
  // transition: margin-right 0.3s ease-in-out;
  z-index: 1;
  li {
    a {
      text-decoration: none;
      color: #fff;
      padding: 18px 10px;
    }
  }
}

.burger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  cursor: pointer;
    .burger__line {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      background-color: black;
      transform-origin: 1px;
      transition: all 0.3s linear;
    }
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  .nav__link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    &:hover {
      color: #0D2538;
    }
  }
}