@use 'variables' as v;
@use 'mixins' as m;

.details {
  font-family: v.$secondary-font;
  min-height: 100vh;
  @include m.vertically-aligned-flex;
  overflow: auto;
  .details__header {
    background-image: url('../images/detail-horizontal-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 3rem;
    .details__header-text {
      font-size: 2rem;
      font-family: v.$secondary-font;
      font-weight: 600;
      color: v.$primary-text-color;
      text-align: center;
    }
  }
  .details__info {
    @include m.vertically-aligned-flex;
    .details__info-img-container {
      width: 70%;
      .details__info-img {
        width: 100%;
      }
    }
  }
}