
@use 'variables' as v;
@use 'mixins' as m;

.products {
  @include m.header-font;
  background-color: v.$primary-background-color;
  @include m.vertically-aligned-flex;
  .products__header {
    margin: 5rem 0 3rem 0;
    font-size: 1.5rem;
  }
  .products__container {
    max-width: 100%;
    height: 25rem;
    margin-bottom: 5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  max-width: 15rem;
  min-width: 11rem;
  background: #fff;
  .card__image {
    max-width: 100%;
    height: 11rem;
    object-fit: cover;
  }
  .card__info {
    text-align: left;
    .card__name{
      font-size: 1.1rem;
      font-weight: normal;
      margin: 1rem 0;
    }
    .card__price {
      font-size: 1rem;
      margin: .5rem 0;
    }
  }
}

.swiper {
  height: 24rem;
}
.swiper-slide {
  width: 200px
}

@media screen and (min-width: 800px) {
  .products {
    .products__header {
      align-self: flex-start;
      margin-left: 5rem;
      font-size: 2rem;
    }
    .products__container {
      max-width: 100%;
      height: 20rem;
      margin: 0;
      margin-bottom: 10rem;
    }
  }
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 1050px) {
  .products {
    min-height: 40vh;
  }
}