@use 'variables' as v;

.details {
  min-height: 100vh;
  .details__header {
    background-image: url('../images/detail-horizontal-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    display: flex;
    align-items: center;
    padding: 3rem;
    .details__header-text {
      font-size: 2rem;
      font-family: v.$secondary-font;
      font-weight: 600;
      color: v.$primary-text-color;
      text-align: center;
    }
  }
}