@use 'variables' as v;
@use 'mixins' as m;

.details-order-form {
  min-width: 65%;
  max-width: 65%;
  border: solid 1px black;
  padding: 20px;
  @include m.vertically-aligned-flex;
 
  .details-order-form__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    width: 90%;
 }

 .selection-pair {
    width: 90%;    
    display: flex;
    flex-direction: column;
    .selection-text {
      font-size: 1.2rem;
    }
    .size-options-container {
      width: 100%;
      .multiple-choice-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        input {
          display: none;
        }
        label {
          text-align: center;
          width: 2.1rem;
          padding: 15px;
          border: 1px solid black;
        }
        input:checked+label {
          background-color: black;
          color: white;
        }
      }
    }
 }
}