@use 'variables' as v;
@use 'mixins' as m;

.bag {
  @include m.vertically-aligned-flex;
  background-color: v.$primary-background-color;
  min-height: 100vh;
  width: 100%;
  margin: 0;

  h2,
  h3,
  .bag__button{
    @include m.header-font;
  }

  h4,
  p {
    @include m.body-font;
  }

  .bag__empty {
    @include m.true-center;
    flex-direction: column;
    text-align: center;
    background-color: v.$ternary-background-color;
    width: 98%;
    height: 40vh;
  }

  .bag__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .bag__items,
  .bag__summary {
    width: 98%;
  }

  .bag__summary {
    @include m.flex-column;
    background-color: v.$ternary-background-color;
    margin: 5px 0;
  }

  .bag__summary-header {
    margin: 5%;
  }

  .bag__subtotal {
    @include m.space-between;
    font-weight: 600;
    margin: 0 5%;
  }

  .bag__button {
    @include m.button-style;
    @include m.body-font;
    align-self: center;
    text-decoration: none;
    margin: 1rem;
  }
}

.item {
  background-color: v.$ternary-background-color;
  display: flex;
  padding: 8px;
  margin: 5px 0;

  .item__img-container {
    @include m.horizontally-aligned-flex;
    width: 35%;
  }

  .item__img {
    object-fit: cover;
    aspect-ratio: 4/3;
    max-width: 100%;
  }

  h4 {
    margin: 0;
  }

  .item__info {
    width: 100%;
    margin-left: 1rem;
    @include m.flex-column;
    justify-content: space-around;
  }

  .item__delete {
    font-size: 1.5rem;
    color: v.$ternary-accent-color;
    cursor: pointer;
  }

  .item__details {
    @include m.space-between;
    align-items: flex-end;
    font-size: 10px;
    width: 100%;
  
    .item__specs {
      width: 40%;
    }
    
    .item__spec {
      margin: 0;
    }
    
    .item__counter {
      @include m.true-center;
    }

    .item__quantity {
      margin: 0;
    }
    
    .counter__icon {
      font-size: 1rem;
      background-color: v.$ternary-accent-color;
      margin: 0 5px;
      cursor: pointer;
    }
    
    .item__price {
      margin: 0;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 375px) {
  .bag {
    .bag__items,
    .bag__summary {
      width: 90%;
    }
  }

  .item {
    .item__details {
      font-size: 12px
    }
  }
}

@media screen and (min-width: 550px) {
  .item {
    .item__details {
      font-size: 14px
    }
  }
}

@media screen and (min-width: 732px) {
  .bag {
    .bag__items,
    .bag__empty {
      width: 60%;
    }

    .bag__summary {
      width: 30%;
    }
  }

  .items {
    .item__img-container {
      width: 30%;
    }
  }
}

@media screen and (min-width: 850px) {
  .item {
    .item__details {
      font-size: 16px
    }
  }
}

