@use 'variables' as v;
@use 'mixins' as m;

.size-options-container {
  width: 100%;

  label {
    text-align: center;
    width: 2.1rem;
    padding: 15px;
    @include m.box-border;
  }

  input:checked+label {
    border: none;
    background-color: v.$secondary-accent-color;
    color: white;
  }

  input {
    display: none;
  }

  .multiple-choice-container,
  .single-choice-container {
    width: 100%;
  }

  .multiple-choice-container {
    @include m.space-between;
  }
  
  .single-choice-container {
    display: flex;
    input:checked+label {
      padding: 10px 12px;
      width: 3rem;
    }
  }
}

@media (min-width: 800px) {
  .multiple-choice-container {
    label:hover {
      cursor: pointer;
      background-color: v.$ternary-accent-color;
    }
  }
}