@use 'variables' as v;
@use 'mixins' as m;

.size-options-container {
  width: 100%;
  .multiple-choice-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      display: none;
    }
    label {
      text-align: center;
      width: 2.1rem;
      padding: 15px;
      color: v.$secondary-accent-color;
      border-radius: 12px;
      border: 1px solid v.$primary-accent-color;
    }
    input:checked+label {
      background-color: v.$secondary-accent-color;
      color: white;
    }
  }
  .single-choice-container {
    width: 100%;
    display: flex;
    input {
      display: none;
    }
    input:checked+label {
      @include m.button-style;
    }
  }
}

@media (min-width: 800px) {
  .multiple-choice-container {
    label:hover {
      cursor: pointer;
      background-color: v.$ternary-accent-color;
    }
  }
}