$primary-accent-color: #7B4734;
$secondary-accent-color: #867C77;
$ternary-accent-color: #D9CFC9;

$primary-background-color: #F4F4F4;
$secondary-background-color: #58889C;
$ternary-background-color: #FFFFFF;

$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;

$font: 'Open Sans', sans-serif;