body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.app {
  width: 100vw;
  max-width: 1600px;
  height: 100vh;
}

.checkout {
  min-height: 100vh;
  padding: 0 2.5em;
  font: "Amaranth", sans-serif;
  background-color: #F4F4F4;
}
.checkout .checkout-header {
  text-align: center;
}
.checkout .request-summary {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 1em;
  background-color: #FFFFFF;
}
.checkout .pricing {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: auto;
  align-self: flex-end;
  width: 70%;
  margin-left: auto;
  border-bottom: solid black 2px;
}
.checkout .pricing p {
  margin: 0;
}
.checkout .request-item {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}
.checkout .request-item p {
  margin: 0;
}
@media screen and (min-width: 600px) {
  .checkout .checkout-header {
    display: flex;
    justify-content: space-between;
  }
  .checkout .checkout-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .checkout .request-summary, .checkout .request-form {
    margin: 0;
    width: 45%;
  }
}

.landing {
  background-image: url("../images/landing-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% center;
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .landing__header {
  height: 25rem;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
}
.landing .landing__header h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}
.landing .landing__header .landing__button {
  opacity: 0.8;
  padding: 0;
  width: 8rem;
  height: 3rem;
  background-color: #58889C;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  cursor: pointer;
}
.landing .landing__header .landing__button:hover {
  background-color: #867C77;
}

.products {
  font-family: "Roboto", sans-serif;
  background-color: #F4F4F4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .products__header {
  margin: 5.5rem 0;
  font-size: 1.5rem;
}
.products .products__container {
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: auto;
  width: 13rem;
  height: 16.5rem;
  background: #fff;
}
.card .card__image {
  max-width: 100%;
  height: 11rem;
  object-fit: cover;
}
.card .card__info {
  text-align: left;
}
.card .card__info .card__name {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 1rem 0;
}
.card .card__info .card__price {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  min-height: 100%;
  width: 100%;
  margin: 0;
}
.bag .bag__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 98%;
  text-align: center;
}
.bag .bag__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.bag .bag__items,
.bag .bag__summary {
  width: 98%;
}
.bag .bag__summary {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 5px 0;
}
.bag .bag__summary-header {
  margin: 5%;
}
.bag .bag__subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 0 5%;
}
.bag .bag__button {
  align-self: center;
  text-decoration: none;
  background-color: #867C77;
  padding: 1rem;
  border-radius: 30px;
  color: #FFFFFF;
  margin: 1rem;
}

.item {
  background-color: #FFFFFF;
  display: flex;
  padding: 8px;
  margin: 5px 0;
}
.item .item__img {
  height: 50px;
}
.item .item__title {
  margin: 0;
}
.item .item__info {
  width: 100%;
  margin-left: 1rem;
}
.item .item__delete {
  font-size: 1.5rem;
  color: #D9CFC9;
  cursor: pointer;
}
.item .item__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 10px;
  width: 100%;
}
.item .item__details .item__specs {
  width: 40%;
}
.item .item__details .item__spec {
  margin: 0;
}
.item .item__details .item__counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .item__details .item__quantity {
  margin: 0;
}
.item .item__details .counter__icon {
  font-size: 1rem;
  background-color: #D9CFC9;
  margin: 0 5px;
  cursor: pointer;
}
.item .item__details .item__price {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}

@media screen and (min-width: 375px) {
  .bag .bag__items,
  .bag .bag__summary {
    width: 90%;
  }
  .item .item__details {
    font-size: 12px;
  }
}
@media screen and (min-width: 425px) {
  .item .item__img {
    height: 70px;
  }
}
@media screen and (min-width: 500px) {
  .item .item__details {
    font-size: 14px;
  }
}
@media screen and (min-width: 732px) {
  .bag .bag__items {
    width: 60%;
  }
  .bag .bag__summary {
    width: 30%;
  }
}
@media screen and (min-width: 850px) {
  .item .item__details {
    font-size: 16px;
  }
  .item .item__img {
    height: 90px;
  }
}
@media scren and (min-width: 1100px) {
  body {
    max-width: 1100px;
  }
}
.about {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #58889C;
}
.about .about__header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  height: 20rem;
}
.about .about__header .about__header-text {
  color: white;
  margin: 0;
  padding: 0 2rem;
  font-weight: 600;
}
.about .about__description {
  color: white;
  padding: 2rem;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
}

.request-form {
  height: 550px;
  font: "Amaranth", sans-serif;
  display: flex;
  flex-direction: column;
}
.request-form input, .request-form textarea {
  margin: 0.6em 0;
}
.request-form .field-error {
  color: red;
}
.request-form .request-comments {
  min-height: 20%;
  max-width: 100%;
  min-width: 100%;
}
.request-form .request-submit {
  margin-top: 2em;
  padding: 8px 10px;
  width: 80px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-color: #867C77;
  color: #FFFFFF;
  font: "Roboto", sans-serif;
}
.request-form .request-submit:hover {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .request-form .request-submit {
    margin-top: auto;
  }
}

/*# sourceMappingURL=output.css.map */
