body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.app {
  width: 100vw;
  max-width: 1600px;
  min-height: 100vh;
}

.checkout {
  min-height: 100vh;
  padding: 0.5rem 2.5rem;
  font: "Spinnaker", sans-serif;
  background-color: #F4F4F4;
}
.checkout .checkout__header {
  text-align: center;
}
.checkout .checkout__summary {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 1rem;
  background-color: #FFFFFF;
}
.checkout .checkout__summary h3 {
  font: "Roboto", sans-serif;
  margin-top: 0;
}
.checkout .checkout__pricing {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: auto;
  align-self: flex-end;
  width: 70%;
  margin-left: auto;
  border-bottom: solid black 2px;
}
.checkout .checkout__pricing p {
  margin: 0;
}
.checkout .checkout__item {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}
.checkout .checkout__item p {
  margin: 0;
}
@media screen and (min-width: 600px) {
  .checkout .checkout__header {
    display: flex;
    justify-content: space-between;
  }
  .checkout .checkout__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .checkout .checkout__summary, .checkout .checkout__form {
    margin: 0;
    width: 45%;
  }
}

.landing {
  position: relative;
  background-image: url("../images/landing-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% center;
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .landing__header {
  height: 25rem;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
}
.landing .landing__header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}
.landing .landing__header .landing__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  opacity: 0.8;
  padding: 0;
  width: 3.5rem;
  height: 0.75rem;
  background-color: #58889C;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.landing .landing__header .landing__button:hover {
  background-color: #7B4734;
}

@media screen and (min-width: 720px) {
  .landing {
    background-size: cover;
  }
  .landing .landing__header {
    padding: 0 3rem;
    align-self: flex-start;
  }
  .landing .landing__header h1 {
    font-size: 3rem;
  }
  .landing .landing__header .landing__button {
    font-size: 1rem;
    width: 5rem;
  }
}
.details {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.details .details__header {
  background-image: url("../images/detail-horizontal-bg.jpg");
  background-size: cover;
  height: 15rem;
  display: flex;
  align-items: center;
  padding: 3rem;
}
.details .details__header .details__header-text {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}
.details .details__info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .details__info .details__info-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .details__info .details__info-product .details__info-img-container {
  width: 70%;
}
.details .details__info .details__info-product .details__info-img-container .details__info-img {
  width: 100%;
}

@media (min-width: 600px) {
  .details .details__info {
    width: 90%;
  }
  .details .details__info .details__info-product {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .details .details__info .details__info-product .details__info-img-container {
    width: 40%;
  }
}
@media (min-width: 800px) {
  .details .details__header {
    background-position: center;
  }
  .details .details__info {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .details .details__info .details__info-product {
    flex-direction: column;
  }
  .details .details__info .details__info-product .details__info-img-container {
    width: 80%;
  }
}
.details-order-form {
  width: 65%;
  border-radius: 15px;
  max-width: 400px;
  border: solid 1px #867C77;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-order-form .details-order-form__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  width: 90%;
  color: #7B4734;
}
.details-order-form .details-order-form__selection-pair {
  width: 90%;
  min-height: 5rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #7B4734;
}
.details-order-form .details-order-form__selection-pair .details-order-form__selection-text {
  font-size: 1.4rem;
  margin: 5px;
}
.details-order-form .details-order-form__selection-pair .details-order-form__faded {
  color: #867C77;
  opacity: 0.8;
}
.details-order-form .details-order-form__selection-pair select {
  text-align: center;
  border: 1px solid #7B4734;
  border-radius: 12px;
  height: 3rem;
  font-size: 1.5rem;
  color: #7B4734;
}
.details-order-form .details-order-form__btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.details-order-form .details-order-form__btn-container a {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  width: 40%;
}
.details-order-form .details-order-form__btn-container a .details-order-form__submit-btn, .details-order-form .details-order-form__btn-container a .details-order-form__faded-btn {
  width: 100%;
  padding: 0;
}
.details-order-form .details-order-form__btn-container .details-order-form__submit-btn {
  background-color: #867C77;
  padding: 1rem;
  border-radius: 30px;
  color: #FFFFFF;
  position: relative;
  padding: 0;
  width: 40%;
}
.details-order-form .details-order-form__btn-container .details-order-form__submit-btn .details-order-form__hidden {
  display: none;
}
.details-order-form .details-order-form__btn-container .details-order-form__faded-btn {
  width: 40%;
  background-color: #867C77;
  padding: 1rem;
  border-radius: 30px;
  color: #FFFFFF;
  opacity: 0.6;
  padding: 0;
}
.details-order-form .details-order-form__btn-container .details-order-form__cart-count {
  padding: 5px;
  background-color: white;
  font-size: 1.2rem;
  color: black;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  margin: 0;
  position: absolute;
  top: -10px;
  right: -10px;
}

.products {
  font-family: "Roboto", sans-serif;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .products__header {
  margin: 5rem 0 3rem 0;
  font-size: 1.5rem;
}
.products .products__container {
  max-width: 100%;
  height: 25rem;
  margin-bottom: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  max-width: 15rem;
  min-width: 12rem;
  background: #fff;
}
.card .card__image {
  max-width: 100%;
  height: 12rem;
  object-fit: cover;
}
.card .card__info {
  text-align: left;
}
.card .card__info .card__name {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 1rem 0;
}
.card .card__info .card__price {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.swiper {
  height: 24rem;
}

.swiper-slide {
  width: 200px;
}

@media screen and (min-width: 800px) {
  .products .products__header {
    align-self: flex-start;
    margin-left: 5rem;
    font-size: 2rem;
  }
  .products .products__container {
    max-width: 100%;
    height: 20rem;
    margin: 0;
    margin-bottom: 10rem;
  }
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 1050px) {
  .products {
    min-height: 40vh;
  }
}
.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
.bag h1 {
  font-family: "Amaranth", sans-serif;
}
.bag h2,
.bag h3,
.bag .bag__button {
  font-family: "Roboto", sans-serif;
}
.bag h4,
.bag p {
  font-family: "Spinnaker", sans-serif;
}
.bag .bag__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFFFFF;
  width: 98%;
  height: 40vh;
}
.bag .bag__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.bag .bag__items,
.bag .bag__summary {
  width: 98%;
}
.bag .bag__summary {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 5px 0;
}
.bag .bag__summary-header {
  margin: 5%;
}
.bag .bag__subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 0 5%;
}
.bag .bag__button {
  align-self: center;
  text-decoration: none;
  background-color: #867C77;
  padding: 1rem;
  border-radius: 30px;
  color: #FFFFFF;
  margin: 1rem;
}

.item {
  background-color: #FFFFFF;
  display: flex;
  padding: 8px;
  margin: 5px 0;
}
.item .item__img-container {
  width: 35%;
  display: flex;
  align-items: center;
}
.item .item__img {
  aspect-ratio: 4/3;
  max-width: 100%;
}
.item h4 {
  margin: 0;
}
.item .item__info {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.item .item__delete {
  font-size: 1.5rem;
  color: #D9CFC9;
  cursor: pointer;
}
.item .item__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 10px;
  width: 100%;
}
.item .item__details .item__specs {
  width: 40%;
}
.item .item__details .item__spec {
  margin: 0;
}
.item .item__details .item__counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .item__details .item__quantity {
  margin: 0;
}
.item .item__details .counter__icon {
  font-size: 1rem;
  background-color: #D9CFC9;
  margin: 0 5px;
  cursor: pointer;
}
.item .item__details .item__price {
  margin: 0;
  font-weight: 600;
}

@media screen and (min-width: 375px) {
  .bag .bag__items,
  .bag .bag__summary {
    width: 90%;
  }
  .item .item__details {
    font-size: 12px;
  }
}
@media screen and (min-width: 732px) {
  .bag .bag__items,
  .bag .bag__empty {
    width: 60%;
  }
  .bag .bag__summary {
    width: 30%;
  }
  .items .item__img-container {
    width: 30%;
  }
}
@media screen and (min-width: 850px) {
  .item .item__details {
    font-size: 14px;
  }
}
.product-description-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 1.1rem;
}
.product-description-text h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}
.product-description-text p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "Spinnaker", sans-serif;
}

@media (min-width: 600px) {
  .product-description-text {
    width: 55%;
  }
}
@media (min-width: 800px) {
  .product-description-text {
    width: 80%;
  }
}
.size-options-container {
  width: 100%;
}
.size-options-container .multiple-choice-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.size-options-container .multiple-choice-container input {
  display: none;
}
.size-options-container .multiple-choice-container label {
  text-align: center;
  width: 2.1rem;
  padding: 15px;
  color: #7B4734;
  border-radius: 12px;
  border: 1px solid #7B4734;
}
.size-options-container .multiple-choice-container input:checked + label {
  background-color: #7B4734;
  color: white;
}
.size-options-container .single-choice-container {
  width: 100%;
  display: flex;
}
.size-options-container .single-choice-container input {
  display: none;
}
.size-options-container .single-choice-container label {
  text-align: center;
  width: 2.1rem;
  padding: 15px;
  border: 1px solid black;
}
.size-options-container .single-choice-container input:checked + label {
  background-color: black;
  color: white;
}

.about {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #58889C;
}
.about .about__header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
  height: 20rem;
}
.about .about__header .about__header-text {
  color: white;
  margin: 0;
  padding: 0 2rem;
  font-weight: 600;
}
.about .about__description {
  color: white;
  padding: 2rem;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
}

@media screen and (min-width: 672px) {
  .about .about__header {
    height: 30rem;
    padding: 0 3rem;
  }
  .about .about__header .about__header-text {
    font-size: 3rem;
    margin: 5rem 0 0 0;
  }
  .about .about__description {
    padding: 3rem;
    font-size: 1.1rem;
    line-height: 2;
  }
}
@media screen and (min-width: 1050px) {
  .about .about__header {
    height: 40rem;
    padding: 0 3rem;
  }
  .about .about__header .about__header-text {
    font-size: 4rem;
    margin: 5rem 0 0 0;
  }
  .about .about__description {
    padding: 3rem;
    font-size: 1.2rem;
    line-height: 2;
  }
}
.checkout__form {
  height: 550px;
  background-color: inherit;
  font: "Spinnaker", sans-serif;
  display: flex;
  flex-direction: column;
}
.checkout__form h2, .checkout__form h3 {
  font-family: "Roboto", sans-serif;
}
.checkout__form input, .checkout__form textarea {
  margin: 0.6em 0;
}
.checkout__form .checkout__form__fielderror {
  color: red;
}
.checkout__form .checkout__form__comments {
  min-height: 20%;
  max-width: 100%;
  min-width: 100%;
}
.checkout__form .checkout__form__submit {
  margin-top: 2rem;
  padding: 8px 10px;
  width: 80px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-color: #867C77;
  color: #FFFFFF;
  font: "Roboto", sans-serif;
}
.checkout__form .checkout__form__submit:hover {
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .checkout__form .checkout__form__submit {
    margin-top: auto;
  }
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 1rem;
  background-color: #F4F4F4;
  width: 70%;
  text-align: center;
  padding: 1rem;
}
.success .success__button {
  display: block;
  margin-left: auto;
}
.success .success__button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=output.css.map */
